[submodule "js/std-js"]
	path = js/std-js
	url = https://github.com/shgysk8zer0/std-js.git
[submodule "css/core-css"]
	path = css/core-css
	url = https://github.com/shgysk8zer0/core-css.git
[submodule "img/adwaita-icons"]
	path = img/adwaita-icons
	url = https://github.com/shgysk8zer0/adwaita-icons.git
[submodule "img/logos"]
	path = img/logos
	url = https://github.com/shgysk8zer0/logos.git
[submodule "img/octicons"]
	path = img/octicons
	url = https://github.com/primer/octicons.git
[submodule "css/normalize"]
	path = css/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/shgysk8zer0/fonts.git
